# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


#==========================
 Unity
#==========================

$PROJDIR

obj
Temp
*.suo
*.user
*.userprefs
$PROJDIR/Library

cache
metadata
ScriptAssemblies
assetDatabase3
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
expandedItems
FailedAssetImports.txt
guidmapper
ScriptMapper
unity default resources
unity editor resources
And now for Unity 3.0, we use these ignores:

$PROJDIR

obj
Temp
*.suo
*.user
*.pidb
*.userprefs

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.sln